<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title></title>
</head>
<body style="background-color: #666462">
<div th:replace="template.html :: navbar">Navbar</div>
<form action="/deleteMultiple" method="get">
    <table th:span="8" class="table table-hover " style="width: 70%;margin: 0 auto;font-size: 1vw; float: none;margin-top: 5%; color: white;border: thin black;margin-bottom: 1%;"  >
        <thead class="thead-dark">
        <tr>
            <th><input type="checkbox" id="checkAll"></th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">City</th>
            <th scope="col">Postcode</th>
            <th scope="col"></th>
            <th scope="col"><button type="submit" id="delete1" class="btn btn-danger"><i class="material-icons">
                delete_sweep
            </i></button></th>
        </tr>
        </thead>
        <tbody >
        <tr th:id="${entry.id}" th:value="${entry.id}"  th:each="entry : ${index}" style="border:thin black;background-color: white;color:black;border-bottom:thin solid red; ">
            <td><input type="checkbox" th:value="${entry.id}" class="check" name="id"></td>
            <td th:value="${entry.id}" th:text="${entry.id}"></td>
            <td th:text="${entry.name}"></td>
            <td th:text="${entry.description}"></td>
            <td th:text="${entry.city}"></td>
            <td th:text="${entry.postcode}"></td>
            <td><a href="#" th:href="@{/insert/} + ${entry.id}" class="btn btn-info">
                <i class="material-icons">
                    create
                </i></a></td>
            <td >
                <a th:href="@{/deleteMultiple(id=${entry.id})}" class="btn btn-danger" id="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </td>

        </tr>
        <tr style="display:none"><td><input type="checkbox" th:value="-1" name="id" checked ></td></tr>
        <tr class='clickable-row' style="cursor:pointer">
            <td colspan="8" style="text-align: center;border: solid thin black;"><i class="material-icons">
                add_circle_outline
            </i></td>
        </tr>




        </tbody>

    </table>

</form>
<!--<form action="/pdfreport" method="get">-->
    <div style="width:40%;margin: 0px auto;margin-bottom: 1%;text-align: center">
        <a class="btn btn-info" th:href="@{/pdfreport}"><i class="material-icons">
            cloud_download
        </i></a>

    </div>
<!--</form>-->


</body>
<script>
    jQuery(document).ready(function () {
        $(".clickable-row").click(function () {
            window.location = "/insert";
        });

        $("a#delete").click(function(e){
            if(!confirm('Are you sure you want to delete the entry?')){
                e.preventDefault();
                return false;
            }
            return true;
        });

        $("button#delete1").click(function(e){
            if(!confirm('Are you sure you want to delete the entries?')){
                e.preventDefault();
                return false;
            }
            return true;
        });
    });
</script>
<script>
    $("#checkAll").click(function () {
        $(".check").prop('checked', $(this).prop('checked'));
    });
</script>

</html>