<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">

<head>
    <title>Insert</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<script>


    function checkfile(sender) {
        var validExts = new Array(".csv");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Invalid file selected, valid files are of " +
                validExts.toString() + " types.");
            document.getElementById("submit").disabled = true;
            return false;
        } else {
            document.getElementById("submit").disabled = false;
        }
    }

</script>

<body style="background-color: #666462;overflow-x: hidden;">
<div th:replace="template.html :: navbar">
    <Nav></Nav>
    bar
</div>
<form th:action="@{/insert}" method="post" th:object="${wasdappEntry}" style="margin-top: 25px;">
    <input type="hidden" th:field="*{id}"/>

    <div class="form-row offset-3 " style="margin-left: 20%">
        <div class="col-md-3 mb-3">
            <label for="name" style="color: white;">Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" required minlength="2"
                   placeholder="Name">
        </div>
        <div class="col-md-3 mb-3">
            <label for="description" style="color: white;">Description</label>
            <input th:field="*{description}" type="text" class="form-control" maxlength="2048" id="description"/>
        </div>
        <div class="col-md-3 mb-3">
            <label for="street" style="color: white;">Street</label>
            <input th:field="*{street}" type="text" class="form-control" id="street" maxlength="96"
                   placeholder="Street">
        </div>
    </div>

    <div class="form-row offset-3" style="margin-left: 20%">
        <div class="col-md-3 mb-3">
            <label for="housenr" style="color: white;">Number</label>
            <input th:field="*{number}" type="text" class="form-control" id="housenr" maxlength="10" placeholder="0">
        </div>
        <div class="col-md-3 mb-3">
            <label for="inputCity" style="color: white;">City</label>
            <input th:field="*{city}" type="text" class="form-control" maxlength="86" id="inputCity">
        </div>
        <div class="col-md-3 mb-3">
            <label for="postalCode" style="color: white;">Postal Code</label>
            <input th:field="*{postcode}" type="text" id="postalCode" class="form-control">
        </div>
    </div>

    <div class="form-row offset-2" style="margin-left: 20%">
        <div class="col-md-4 mb-4">
            <label for="wikiLink" style="color: white;">Wikipedia Link</label>
            <input th:field="*{wiki}" type="text" class="form-control" id="wikiLink">
        </div>
        <div class="col-md-4 mb-4" style="margin-left: 8.4%">
            <label for="website" style="color: white;">Website</label>
            <input th:field="*{web}" type="text" class="form-control" id="website">
        </div>
    </div>

    <div class="form-row offset-2" style="margin-left: 20%">
        <div class="col-md-4 mb-4">
            <label for="tel" style="color: white;">Phone</label>
            <input th:field="*{tel}" type="text" class="form-control" id="tel">
        </div>
        <div class="col-md-4 mb-4" style="margin-left: 8.4%">
            <label for="email" style="color: white;">E-Mail</label>
            <input th:field="*{email}" type="email" class="form-control" id="email">
        </div>
    </div>

    <button type="submit"  class="btn btn-primary" style="background-color:#1453d1;margin-left: 20%;" th:text="${buttonText}"></button>
</form>
<a href="/homepage">
    <button class="btn btn-primary" type="reset" style="background-color:#930723;margin-left: 75%;margin-top: -75px">
        Cancel
    </button>
</a>
<br>
<br>


<div id="hideonsearch" style="margin:0px auto;width: 25.45%;text-align: center">
    <p style="color: white;">Or upload a file</p><br>
    <form id="formHidden" method="POST" action="/upload" enctype="multipart/form-data">
        <div style="width:70%;height:auto;display: inline-block;">
            <input type="file" name="file" style="border-top-left-radius: 30px;border-bottom-left-radius: 30px;background-color: white;" onchange="checkfile(this)"/><br/><br/></div>
        <!--<input type="submit" value="Submit" id="submit" disabled/>-->
        <div style="width:auto;height:auto;float: right;display: inline-block;">
            <button type="submit" class="btn btn-primary" style="color: black;border-top-right-radius: 30px;border-bottom-right-radius: 30px;height: 2.05em;" id="submit"
                    disabled>
                Submit
            </button>
        </div>
    </form>
</div>


</body>
<script>
    var test = window.location.href;

    if (test.split('insert/').length > 1) {
        document.getElementById("hideonsearch").style.display = "none";

    }

</script>
</html>