<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" th:fragment="navbar">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div th:switch="${currentUser}">
                    <div th:case="true">
                        <a class="nav-link" href="#"><img src="https://www.logolynx.com/images/logolynx/4e/4e0664c4184e0b071036d3bd7b58a2b1.png" style="width: 50px; height: 50px;"></a>
                        <p  th:text="${user}" style="color: white;"></p>
                    </div>
                    <div th:case="false">
                        <a class="nav-link" href="#"><img src="https://pngimage.net/wp-content/uploads/2018/06/user-logo-png-4.png" style="width: 50px; height: 50px;"></a>
                        <p  th:text="${user}" style="color: white;"></p>
                    </div>
                </div>
     </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/homepage">WasDappB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

        <ul class="navbar-nav ml-auto" >

            <div th:switch="${currentUser}">
                <div th:case="true">
                    <li class="nav-item "><a class="nav-link" th:href="@{/register}">Register User</a></li>
                </div>
                <li class="nav-item"><a class="nav-link" th:if="${LoggedIn == true}"
                                        href="javascript: document.logoutForm.submit()">Log out</a></li>
            </div>
        </ul>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden="true" type="submit" value="Sign Out"/>
        </form>
    </div>
</nav>

</body>
</html>